.App {
  text-align: center;
}

.App-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Back-color{
  background-color:lightsteelblue;
}

.form_input{
  border-color: dodgerblue;
  margin: 5px;
}

.form_button{
  border-color: dodgerblue;
  margin-left: 5px;
}

.author{
  width: 10vw;
}

.message_text{
  width: 30vw;
}